---
layout: default
---
<div class="index">

	<div class="slogan">
		<p>
			由學生建立、為學生設計的非官方師大生存手冊。
		</p>
		<div id="down_btn">開始閱讀</div>
	</div>

	<div id="lists" class="select">
		<h2>你想尋求什麼協助？</h2>
		<hr>
		{% for page in site.references %}
		<div>
			<a href="{{ page.url }}">
				<img src="/images/{{ page.icon }}" alt="{{ page.alticon}} icon" width="50" height="50" />
				{{ page.title }}
			</a>
		</div>
		{% endfor %}
	</div>

	<div id="favs" class="select">
		<h2>常用連結</h2>
		<hr>
		{% for item in site.data.favs %}
		<div>
			<a href="{{ item.link }}">
				<img src="/images/{{ item.image }}" alt="{{ item.name }}的 icon" width="50" height="50" >
				{{ item.name }}
			</a>
		</div>
		{% endfor %}
	</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function() {

		$("#down_btn").on('click', function(event) {
			$("html, body").animate({
				scrollTop: $(".select").offset().top
			}, 600)
		});

		appendColor = function() {

			for (var i = 0; i < $(".select > div").length; i++) {

				$(".select > div")[i].className = ["red", "blue", "purple", "yellow", "green", "orange"][Math.floor(Math.random() * 6)];
				if (i > 0 && $(".select > div")[i - 1].className === $(".select > div")[i].className) i--;

			}
		}()


	});
</script>
