---
---

@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import "variable";

body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
	background: url("{{ site.baseurl }}/images/main-bg.jpg") fixed no-repeat center center;
	background-size: cover;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	position: absolute;
	top: 0;
	width: 99%;
	padding: 0.5rem .5%;
	background: #121212;
	text-align: left;
	a {
		display: inline-block;
		height: 50px;
		color: #fff;
		text-decoration: none;
		h1 {
			margin: 0;
			padding: 0 1rem;
			font-size: 2rem;
			display: inline-block;
			font-weight: 400;
			div {
				vertical-align: top;
				margin-left: 1rem;
				padding: 0.5rem 0;
				display: inline-block;
				font-family: 'Raleway', sans-serif;
			}
		}
	}
}
main {
	padding: 4rem 0 0;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	flex: 1;
}
footer {
	padding: 1rem 0;
	width: 100%;
	background-color: #000;
	text-align: center;
	color: #fff;

	ul li {
		display: inline-block;
		padding: 0;
		margin: 0 .25rem;

		&::before {
			content: '-';
			margin-right: .5rem;
		}

		&:last-child::after {
			content: '-';
			margin-left: .5rem;
		}

		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

	}
}
.index {
	min-height: 85vh;
	.slogan {
		display: block;
		position: relative;
		top: 30vh;
		margin: 0 0 17.5rem;
		padding: 0 2rem 27.5vh;
		background-color: rgba(0,0,0,0);
		color: #fff;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.5rem;
		box-shadow: none;
		@media #{$m-sc} {
			top: 15vh;
			margin: 0 0 400px;
			padding: 0 1rem;
			line-height: 2rem;
			font-size: 1.5rem;
		}
		@media #{$s-sc} {
			top: 25vh;
			margin: 0 0 15rem;
			line-height: 2rem;
			font-size: 1.5rem;
		}
		#down_btn {
			display: inline-block;
			position: relative;
			top: 3rem;
			padding: 0.5rem 1rem;
			letter-spacing: 0.5rem;
			font-size: 1.5rem;
			border: 1px solid #fff;
			cursor: pointer;
			background-color: #0cffa9;
			&:hover {
				background-color: #fff;
				color: #0cffa9;
				transition-duration: 0.5s;
			}
		}
	}

	.news {
		background: linear-gradient(90deg, $red-deep 10%, $red-light 90%);

		> a {
			display: block;
			padding: 1rem;
			color: #fff;
			font-size: 1.5rem;
			text-decoration: none;

			&:hover {
				&::before {
					content: ">>> ";
				}
				&::after {
					content: " <<<";
				}
			}

			a {
				display: inline;
				color: #fff;
				font-size: 1.5rem;
				text-decoration: none;
			}
		}
	}

	.container {
		background-color: #fff;
		padding: 1rem 0 5rem;
		text-align: center;

		.select {
			margin: 0 auto;
			max-width: 1400px;

			h2 {
				color: #565656;
			}

			hr {
				margin: 20px auto 40px;
				width: 80px;
				font-weight: normal;
				border: 1px solid #ccc;
			}
			> div {
				display: inline-block;
				margin: 1rem;
				padding: 0;
				border-radius: 10%;
				box-shadow: 5px 5px 0 #ccc;
				&.red {
					background: linear-gradient(0deg, $red-deep 10%, $red-light 90%);
				}
				&.orange {
					background: linear-gradient(0deg, $orange-deep 10%, $orange-light 90%);
				}
				&.yellow {
					background: linear-gradient(0deg, $yellow-deep 10%, $yellow-light 90%);
				}
				&.green {
					background: linear-gradient(0deg, $green-deep 10%, $green-light 90%);
				}
				&.blue {
					background: linear-gradient(0deg, $blue-deep 10%, $blue-light 90%);
				}
				&.purple {
					background: linear-gradient(0deg, $purple-deep 10%, $purple-light 90%);
				}
				a {
					display: block;
					margin: 0;
					padding: 2rem 1rem;
					width: 13rem;
					color: #fff;
					line-height: 1.5rem;
					font-size: 1.5rem;
					text-align: left;
					text-decoration: none;
					&:hover {
						transition-duration: 0.5s;
					}
					img, i {
						display: block;
						margin: .5rem auto 4rem;
						text-align: center;
					}
				}
			}
		}
	}
}
.page {
	text-align: center;
	.title {
		padding: 5vh 1.5rem;
		h2 {
			color: #fff;
			font-size: 2rem;
			letter-spacing: 0.5rem;
			font-weight: 400;
		}
		hr {
			width: 80px;
			color: #fff;
		}
	}
	article {
		margin: 5vh auto 0;
		padding: 2.5% 7.5%;
		width: 85%;
		background-color: #fff;
		color: #343434;
		text-align: left;
		font-size: 1.2rem;

		@media #{$s-sc} {
			padding: 5% 3%;
			width: 94%;
			text-align: center;
		}

		* {
			word-break: break-all;
		}

		h2 {
			display: inline-block;
			padding: .75rem 2rem;
			font-size: 2rem;
			letter-spacing: 0.5rem;
			font-weight: 400;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
		}

		h3 {
			margin: 1rem 0;
			font-size: 1.5rem;
			font-weight: 400;

			&::before {
				content: "#";
				margin-right: 1rem;
				color: #aaa;
			}
		}

		p {
			margin: 1rem 0 2rem 2rem;
			line-height: 1.75rem;
			overflow-x: hidden;
		}

		a {
			color: #0CD318;
			text-decoration: none;

			&:hover {
				color: #85FB6E;
				text-decoration: underline;
			}
		}

		code {
			display: inline-block;
			padding: 0 5px;
			background-color: #F7F7F9;
			color: #0CD318;
			text-shadow: 0 0 0 #ccc;
			overflow: auto;
			vertical-align: top;
			font-size: 1rem;
			font-family: "Monaco","Menlo","Consolas","Courier New","monospace";
			border: 1px solid #E1E1E8;
			border-radius: 3px;
		}

		ul, ol {
			max-width: 800px;
			margin-left: 2rem;
			padding: 0 2rem 2rem;

			@media #{$s-sc} {
				margin-left: 3rem;
			}

			li {
				line-height: 2rem;
			}

			&#markdown-toc {
				float: right;
				padding: 1rem 2rem;
				margin: 0;
				width: 250px;
				text-align: left;
				list-style-type: none;
				border: 1px solid #343434;
				box-shadow: 5px 5px 0 #666;

				li {
					a {
						color: #00F3D0;
						text-decoration: none;
						line-height: 1.5rem;

						&:hover {
							color: #00FFA7;
							transition-duration: .2s;
						}
					}
				}
			}
		}

		.cjk-list ol {
			list-style-type: cjk-ideographic;
		}

		ol ol {
			list-style-type: lower-alpha;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;

			@media #{$s-sc} {
				margin: 2rem auto;
			}

			tr th,
			tr td {
				padding: 1rem;
				width: 10rem;
				border: 1px solid #ddd;
			}
			tr th {
				background-color: #f8f8f8;
			}
			tr td {
				background-color: #fff;
			}
		}

		@media #{$s-sc} {
			text-align: center;

			h2, h3, h4, h5, h6 {
				text-align: center;
			}

			h2 {
				border: none;

				&::before {
					content: "#";
					color: #ccc;
				}
			}

			h3 {
				margin: 0 1rem 1rem;
				padding: 0 0 .5rem;
				text-align: center;
				border-bottom: 3px dashed #ccc;

				&::before {
					content: none;
				}

			}

			p {
				margin-left: 0;
			}

			ul, ol {
				margin: 0;
				padding: 0px 1rem 1rem 3rem;
				text-align: left;

				&#markdown-toc {
					display: none;
				}
			}
		}
	}
}

#disqus_thread {
	margin-top: 4rem;
	border-top: 3px dashed #ccc;
	padding: 3rem 2.5rem 2.5rem;
	@media #{$s-sc} {
		padding: 2rem 1rem 1rem;
	}
}

@media #{$s-sc} {
	.small-hide {
		display: none;
	}
	.rf-img {
		width: 300px;
	}
}
@media #{$m-sc} {
	.small-hide {
		display: none;
	}
	.rf-img {
		width: 900px;
	}
}
@media #{$l-sc} {
	.big-hide {
		display: none;
	}
	.rf-img {
		width: 900px;
	}
}
