---
---

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url('{{ site.baseurl }}/images/main-bg.jpg') fixed no-repeat center center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  padding: 1rem 0;
  width: 100%;
  background: #121212;

  text-align: left;

  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;

    h1 {
      margin: 0;
      padding: .5rem 1rem;
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}

main {
  padding: 12rem 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  flex: 1;
}

footer {
    padding: 1rem 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.index {
  div {
    display: inline-block;
    margin: 1rem;
    padding: 2.25rem 0 0;
    background-color: #67c600;
    box-shadow: 5px 5px 0 #666;

    a {
      display: block;
      margin: 2.25rem 0 0;
      padding: 2rem 1rem;
      width: 13rem;
      background-color: #5FB404;

      color: #fff;
      line-height: 1.5rem;
      font-size: 1.5rem;
      text-align: left;
      text-decoration: none;

      &:hover {
        transition-duration: .5s;
      }
    }
  }
}
