---
---
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	text-align: center;
	background: url("{{ site.baseurl }}/images/main-bg.jpg") fixed no-repeat center center;
	background-size: cover;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
header {
	position: absolute;
	top: 0;
	padding: 0.5rem 0;
	width: 100%;
	background: #121212;
	text-align: left;
	a {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		h1 {
			margin: 0;
			padding: 0 1rem;
			font-size: 2rem;
			display: inline-block;
			font-weight: 400;
			div {
				vertical-align: top;
				margin-left: 1rem;
				padding: 0.5rem 0;
				display: inline-block;
				font-family: 'Raleway', sans-serif;
			}
		}
	}
}
main {
	padding: 4rem 0 0;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	flex: 1;
}
footer {
	padding: 1rem 0;
	width: 100%;
	background-color: #000;
	text-align: center;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.index {
	min-height: 85vh;
	.slogan {
		display: block;
		position: relative;
		top: 30vh;
		margin: 0;
		padding: 0;
		height: 85vh;
		min-height: 400px;
		background-color: rgba(0,0,0,0);
		color: #fff;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.5rem;
		box-shadow: none;
		@media screen and (max-width: 500px) {

			// 如果使用者之視窗寬度小於 500px，將會載入這裡的 CSS。
			top: 20vh;
			padding: 0 1rem;
			line-height: 2rem;
			font-size: 1.5rem;
		}
		#down_btn {
			display: inline-block;
			position: relative;
			top: 3rem;
			padding: 0.5rem 1rem;
			letter-spacing: 0.5rem;
			font-size: 1.5rem;
			border: 1px solid #fff;
			cursor: pointer;
			background-color: #0cffa9;
			&:hover {
				background-color: #fff;
				color: #0cffa9;
				transition-duration: 0.5s;
			}
		}
	}
	.select {
		padding: 1rem 0 5rem;
		background-color: #fff;
		hr {
			margin: 20px auto 40px;
			width: 80px;
			font-weight: normal;
			border: 1px solid #ccc;
		}
		> div {
			display: inline-block;
			margin: 1rem;
			padding: 2.25rem 0 0;
			box-shadow: 5px 5px 0 #666;
			&.orange {
				background: linear-gradient(0deg, #FF6744 10%, #FF9300 90%);
			}
			&.green {
				background: linear-gradient(0deg, #0CD318 10%, #85FB6E 90%);
			}
			&.blue {
				background: linear-gradient(0deg, #5AC8FB 10%, #52ECC8 90%);
			}
			&.red {
				background: linear-gradient(0deg, #FF2A68 10%, #FF5E3A 90%);
			}
			&.yellow {
				background: linear-gradient(0deg, #FFCD03 10%, #FFDB4B 90%);
			}
			&.purple {
				background: linear-gradient(0deg, #C849FC 10%, #EF4DB7 90%);
			}
			a {
				display: block;
				margin: 2.25rem 0 0;
				padding: 2rem 1rem;
				width: 13rem;
				color: #fff;
				line-height: 1.5rem;
				font-size: 1.5rem;
				text-align: left;
				text-decoration: none;
				&:hover {
					transition-duration: 0.5s;
				}
			}
		}
	}
}
.page {
	text-align: center;
	.title {
		padding: 5vh 0;
		h2 {
			color: #fff;
			font-size: 2rem;
			letter-spacing: 0.5rem;
			font-weight: 400;
		}
		hr {
			width: 80px;
			color: #fff;
		}
	}
	article {
		margin: 5vh auto 0;
		padding: 2.5% 7.5%;
		width: 85%;
		background-color: #fff;
		color: #343434;
		text-align: left;
		font-size: 1.2rem;

		h2 {
			display: inline-block;
			padding: .75rem 2rem;
			font-size: 2rem;
			letter-spacing: 0.5rem;
			font-weight: 400;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
		}

		h3 {
			margin: 1rem 0;
			font-size: 1.5rem;
			font-weight: 400;

			&::before {
				content: "#";
				margin-right: 1rem;
				color: #aaa;
			}
		}

		p {
			margin: 1rem 0 2rem 2rem;
			line-height: 1.75rem;
		}

		a {
			color: #00F1D7;
			text-decoration: none;

			&:hover {
				color: #2BFFB2;
				text-decoration: underline;
			}
		}

		code {

		}

		ul, ol {
			max-width: 800px;
			margin-left: 2rem;
			padding: 0 2rem 2rem;

			li {
				line-height: 2rem;
			}

			&#markdown-toc {
				float: right;
				padding: 1rem 2rem;
				margin: 0;
				width: 250px;
				text-align: left;
				list-style-type: none;
				border: 1px solid #343434;
				box-shadow: 5px 5px 0 #666;

				li {
					a {
						color: #00F3D0;
						text-decoration: none;
						line-height: 1.5rem;

						&:hover {
							color: #00FFA7;
							transition-duration: .2s;
						}
					}
				}
			}

		}

		.cjk-list ol {
			list-style-type: cjk-ideographic;
		}

		#bus {
			table {
				margin: 0 auto;
				border-collapse: collapse;
				border-spacing: 0;
				tr th,
				tr td {
					padding: 1rem;
					width: 10rem;
					border: 1px solid #ddd;
				}
				tr th {
					background-color: #f8f8f8;
				}
				tr td {
					background-color: #fff;
				}
			}
		}

	}
}
