<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{{ site.baseurl }}/style.css" rel="stylesheet"/>
		<title>{{ page.title }}{% if page.title %} &mdash; {% endif %}{{site.title}}</title>
		<meta property="og:url" content="http://survive.coursentnu.com/"/>
		<meta property="og:image" content="http://survive.coursentnu.com/images/og_logo.png"/>
		<meta property="og:title" content="Survive NTNU"/>
		<meta property="og:description" content="非官方師大生存手冊"/>
		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58924606-2', 'auto');
  ga('send', 'pageview');
</script>
	</head>
	<body>
		<header>
			<a href="{{ site.baseurl }}/">
				<h1><img src="{{ site.baseurl }}/images/logo.png" alt="site-logo" height="50px" width="50px" /><div>{{site.title}}</div></h1>
			</a>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			有興趣加入我們的行列或是發現資料有問題？歡迎直接<a href="https://www.facebook.com/CommunityNTNU">從 Facebook 傳訊息給我們</a>或是<a href="https://github.com/communityNTNU">從 GitHub 讓我們知道</a>！
		</footer>
	</body>
</html>
