---
layout: default
---
<div class="page">

	<div class="title">
		<h2>{{ page.title }}</h2>
        {% if page.icon %}
		<img src="{{ site.baseurl }}/images/{{ page.icon }}" alt="bus icon" width="50" height="50"/>
        {% endif %}
		<hr>
	</div>

	<article>

		<div id="{{ page.id }}">
			{{ content }}
		</div>

		<div id="disqus_thread">
			<script type="text/javascript" src="//surviventnu.disqus.com/embed.js"></script>
			<noscript>請啟用 JavaScript 以便在 <a href="https://disqus.com/?ref_noscript" rel="nofollow">disqus</a> 留言。</noscript>
		</div>

	</article>

</div>
